.App {
    text-align: center;
    background-color: rgba(0, 93, 83, 1);
    padding-bottom: 2em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dashboard-chart {
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 2em;
}

.dashboard-chart-title {
    color: rgba(0, 93, 83, 1);
    font-size: 1.5em;
}
